<div class="page-header">
<h3> Edit Room </h3>
</div>

<%= form_for @booking do |f| %>
<% if @booking.errors.any? %>
	<h2> These errors prohibited the form from being saved </h2>
	<ul style="color:red;">
	<% @booking.errors.full_messages.each do |msg| %>
		<li> <%= msg %> </li>
	<% end %>
	</ul>
<% end %>	
<% end %>

	

<%= form_for @booking do |f| %>

<!--<label> User Id </label><br/>
<%= f.text_field :user_id %> <br/>-->

<label> Conference Room </label><br/>
<%= f.collection_select :conference_room_id, ConferenceRoom.all, :id, :name %><br/>

<label> Start Date time </label> <br/>
<%= f.datetime_select :start_date_time %> <br/>

<label> End Date time </label> <br/>
<%= f.datetime_select :end_date_time %> <br/>

<%= f.submit %>

<% end %>
