<h3> Booking Id : <%= @booking.id %> </h3>
<h4> User Id : <%= @booking.user_id %> </h4>
<h4> Conference Room : <%= ConferenceRoom.find(@booking.conference_room_id).name%> </h4>
<h4> Start Time : <%= @booking.start_date_time %> </h4>
<h4> End Time : <%= @booking.end_date_time %> </h4>

<%= link_to "Edit", edit_booking_path(@booking.id),class:"btn btn-primary" %>
<%= link_to "Cancel Booking", booking_path(@booking.id), data:{method: :delete, confirm: "are you sure?"}, class:"btn btn-danger" %>